.custom-list,.custom-list_narahubung {
  counter-reset: item;
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.custom-list li, .custom-list_narahubung li {
  display: block;
  margin: 10px 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 20px;
  background: #fff;
  border-left: 10px solid #121e36;
  position: relative;
  font-size: 1.1em;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-list li::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 3px;
  top: -10;
  transform: translateY(-50%);
  background: #121e36;
  color: #fff;
  font-size: 0.8em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;}
